* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #161819;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.flip {
  transform: scale(-1, -1);
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}

.hidden {
  display: none !important;
}

#mobile-header {
  height: 50px;
  background-color: #ffffff;
  display: flex;
}

#mobile-header h1 {
  line-height: 1rem;
  font-size: 1.5rem;
  /*
    minus 100 pixels because the menu button is about 50px and we're centering
    the header as though there were another one on the other side - more
    visually balanced this way
  */
  width: calc(100% - 100px);
  text-align: center;
}

#header {
  height: 250px;
  width: 100%;
}

#header ul {
  padding: 0;
  margin: auto;
  list-style: none;
  font-size: 0;
  height: inherit;
  display: flex;
  justify-content: center;
}

#header li {
  height: inherit;
  display: inline-block;
  padding: 0;
}

#header li img {
  height: inherit;
  object-fit: cover;
}

#header li a {
  height: inherit;
}

#header li a img {
  height: inherit;
  object-fit: cover;
}

.hamburger-button {
  width: 26px;
  height: 26px;
  display: inline-block;
  border: none;
  margin: 12px;

  background: linear-gradient(
    to bottom,
    #232323,
    #232323 20%,
    white 20%,
    white 40%,
    #232323 40%,
    #232323 60%,
    white 60%,
    white 80%,
    #232323 80%,
    #232323 100%
  );
}

#sidebar {
  z-index: 2;
  position: absolute;
  width: 350px;
  height: 100%;
  background-color: white;
  transition: 0.14s;
  transition-timing-function: ease-out;
  padding: 32px;
  border-style: solid;
  border-width: 0px 6px 0px 0px;
  border-color: #999999;
}

.open {
  left: 0;
}

.closed {
  left: -350px;
}

body > .banner {
  height: 400px;
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../images/panda.png');
  background-attachment: fixed;
  box-shadow: 0px 5px 10px #161819;
  position: relative;
}

.banner .logo {
  height: inherit;
  margin: auto;
  max-width: 1280px;
}

.banner .logo img {
  height: inherit;
}

#dark-overlay {
  width: 100%;
  height: 100%;

  background-color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  transition: 0.12s;
  transition-timing-function: ease-out;
}

#dark-overlay.closed {
  opacity: 0%;
  pointer-events: none;
}

#dark-overlay.open {
  opacity: 85%;
  pointer-events: all;
}

.wrapper {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  margin-bottom: 50px;
}

.wrapper .left {
  background-image: url('../images/misc/Background/VHS\ BG\ Left.png');
  background-size: 100% auto;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

.wrapper .middle {
  background-color: #161819;
  color: #e3e3e3;
}

.wrapper .right {
  background-image: url('../images/misc/Background/VHS\ BG\ Right.png');
  background-size: 100% auto;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.white-fade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

#footer {
  height: 250px;
  display: grid;
  grid-template-columns: 250px 1fr;
}

#footer .left {
  background-image: url('../images/misc/Background/Footer\ 1.gif');
}


#footer .right {
  background-image: url('../images/misc/Background/Footer\ 2.gif');
  background-repeat: repeat-x;
}

.bio {
  width: inherit;
  background-color: #161819;
  padding-bottom: 50px;
}

.bio .gallery ul {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.bio .gallery li {
  display: inline-block;
}

.bio .banner {
  background-color: white;
  height: 250px;
  position: relative;
  margin-top: 75px;
  text-align: center;
}

.bio .banner img {
  height: 100%;
}
