* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #161819;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.8rem;
  letter-spacing: 0.01rem;
}

.flip {
  transform: scale(-1, -1);
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}

.hidden {
  display: none !important;
}

#mobile-header {
  height: 64px;
  background-color: #ffffff;
  display: none;
}

#mobile-header h1 {
  line-height: 1rem;
  font-size: 1.5rem;
  /*
    minus 100 pixels because the menu button is about 50px and we're centering
    the header as though there were another one on the other side - more
    visually balanced this way
  */
  width: calc(100% - 100px);
  text-align: center;
}

#mobile-header button {
  cursor: pointer;
}

#header {
  height: 250px;
  width: 100%;
}

#header ul {
  padding: 0;
  margin: auto;
  list-style: none;
  font-size: 0;
  height: inherit;
  display: flex;
  justify-content: center;
}

#header li {
  height: inherit;
  display: inline-block;
  padding: 0;
}

#header li img {
  height: inherit;
  object-fit: cover;
}

#header li a {
  height: inherit;
}

#header li a img {
  height: inherit;
  object-fit: cover;
}

#hamburger-button {
  width: 38px;
  height: 38px;
  display: inline-block;
  border: none;
  margin: 12px;

  background: linear-gradient(
    to bottom,
    #232323,
    #232323 20%,
    white 20%,
    white 40%,
    #232323 40%,
    #232323 60%,
    white 60%,
    white 80%,
    #232323 80%,
    #232323 100%
  );
}

#sidebar {
  z-index: 3;
  position: absolute;
  width: 350px;
  height: 100%;
  background-color: white;
  transition: all 0.14s, top 0s;
  transition-timing-function: ease-out;
  padding: 32px;
  border-style: solid;
  border-width: 0px 6px 0px 0px;
  border-color: #999999;
}

#sidebar ul {
  padding: 0;
}

#sidebar li {
  display: block;
  padding: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col.center {
  align-items: center;
}

.full-width {
  width: 100%;
}

.flex-row.space-between {
  justify-content: space-between;
}

.max-width-60 {
  max-width: 60%;
}

.max-width-80 {
  max-width: 80%;
}

.open {
  left: 0;
}

.closed {
  left: -350px;
}

.icon {
  max-width: 192px;
  max-height: 192px;
  width: 192px;
  height: 192px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}

.icon a {
  width: 100%;
  height: 100%;
  display: block;
}

.youtube-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-section {
  margin-bottom: 75px;
}

.about-section h2 {
  text-align: center;
}

.mail {
  background-image: url('/images/contact-us/Contact\ Us\ Mail.gif');
}

.mail:hover {
  background-image: url('/images/contact-us/Contact\ Us\ Mail\ Highlight.gif');
}

.twitter {
  background-image: url('/images/contact-us/Contact\ Us\ Twitter.gif');
}

.twitter:hover {
  background-image: url('/images/contact-us/Contact\ Us\ Twitter\ Highlight.gif');
}

.discord {
  background-image: url('/images/contact-us/Contact\ Us\ Discord.gif');
}

.discord:hover {
  background-image: url('/images/contact-us/Contact\ Us\ Discord\ Highlight.gif');
}

body > .scroll-pane {
  height: 300px;
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('/images/misc/Background/Background\ Photo.png');
  box-shadow: 0px 5px 10px #161819;
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.scroll-pane .logo {
  height: inherit;
  margin: auto;
  max-width: 960px;
}

.scroll-pane .logo img {
  height: inherit;
}

#dark-overlay {
  width: 100%;
  height: 100%;

  background-color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  transition: all 0.12s, top 0s;
  transition-timing-function: ease-out;
}

#dark-overlay.closed {
  opacity: 0%;
  pointer-events: none;
}

#dark-overlay.open {
  opacity: 85%;
  pointer-events: all;
  cursor: pointer;
}

.wrapper {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr fit-content(960px) 1fr;
}

.wrapper .left {
  background-image: url('/images/misc/Background/VHS\ BG\ Left.png');
  background-size: 100% auto;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: auto;
  max-width: 300px;
  min-width: 200px;
}

.wrapper .middle {
  /* background-color: #161819; */
  background-color: white;
  color: #030303;
  padding: 1.2rem;
  padding-bottom: 50px;
  max-width: 960px;
}

.wrapper .right {
  background-image: url('/images/misc/Background/VHS\ BG\ Right.png');
  background-size: 100% auto;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: 0px;
  margin-right: auto;
  max-width: 300px;
  min-width: 200px;
}

.white-fade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

#footer {
  height: 256px;
  display: grid;
  grid-template-columns: 256px 1fr;
  z-index: 1;
  position: relative;
  background-color: #182439;
}

#footer .left {
  background-image: url('/images/misc/Background/Footer.png');
  position: relative;
  top: -16px;
}


#footer .right {
  background-image: url('/images/misc/Background/Footer.png');
  position: relative;
  top: -16px;
  background-repeat: repeat-x;
}

.bio {
  width: inherit;
  background-color: white;
  padding-bottom: 50px;
}

.bio .gallery ul {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin: 275px 0px 0px 0px;
}

.bio .gallery li {
  display: inline-block;
}

.bio .banner {
  height: 250px;
  width: 100%;
  background-size: auto 250px;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  left: 0;
  background-image: url('/images/art/Art\ Page\ Bio\ Tile.png');
  display: flex;
  justify-content: center;
}

.bio .banner .column {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 24px;
}

.bio .banner .column .pixie {
  height: 250px;
  position: relative;
  top: 0px;
}

.bio .banner .column .text {
  height: 180px;
}

.epic-youtube-channel {
  background-color: #2eff00;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.epic-youtube-channel img {
	width: 100%;
  max-width: max-content;
	height: max-content;
}

.margin-top-25-mobile {
  margin-top: unset;
}

@media screen and (max-width: 960px) {
  #header {
    display: none;
  }

  #mobile-header {
    display: flex;
  }

  body > .scroll-pane {
    display: flex;
    align-items: center;
  }

  body > .scroll-pane .logo {
    height: 80%;
    display: flex;
    align-items: center;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper .left {
    display: none;
  }

  .wrapper .middle {
    padding: 1.2rem;
  }

  .wrapper .right {
    display: none;
  }

  /* #footer {
    height: 128px;
  }

  #footer .left {
    background-size: auto 128px;
  }

  #footer .right {
    background-size: auto 128px;
  } */

  /* .bio .banner {
    height: 95px;
  } */

  .bio .banner {
    height: auto;
    position: relative;
    background-image: none;
  }

  .bio .banner .column {
    display: flex;
    flex-direction: column;
  }

  .bio .banner .column .pixie {
    display: block;
    position: initial;
    height: initial;
  }

  .bio .banner .column .text {
    height: initial;
  }

  .gallery img {
    width: 100px;
  }

  .pixie {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .bio .gallery ul {
    margin: 25px 0px 0px 0px;
  }

  .margin-top-25-mobile {
    margin-top: 25px;
  }
}
/*
@media screen and (max-width: 360px) {
  #header {
    height: 120px;
  }

  body > .scroll-pane {
    height: 206px;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper .left {
    display: none;
  }

  .wrapper .middle {
    padding: 1.2rem;
  }

  .wrapper .right {
    display: none;
  }

  .footer {
    height: 100px;
  }
} */
